[package]
name = "stylus-test"
version = "0.1.0"
edition = "2021"

[dependencies]
stylus-sdk = "0.4.2"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
export-abi = ["stylus-sdk/export-abi"]

[profile.release]
codegen-units = 1
lto = true
opt-level = "s" 
panic = "abort"
strip = true